body {
  text-align: center;
  margin: auto 20%;
  background-color: lightgrey;
}

img {
  width: 200px;
}

button {
  margin-top: 20px;
}

.card {
  margin: 20px auto;
  border-color: darkgrey;
}

.bulb-on {
  content: url("files\\bulb_on.png");
}

.bg-on {
  background-color: yellow;
}
