body {
  height: 100%;
  width: 100%;
  margin: 0;
  position: absolute;
  text-align: center;
  font-size: 1.5rem;
}

p {
  margin-top: 20px;
  margin-bottom: 20px;
}

html {
  height: 100%;
}

.seperator {
  background-color: white;
  box-sizing: border-box;
  float: left;
  width: 5%;
  height: 100%;
}

.column {
  box-sizing: border-box;
  float: left;
  width: 30%;
  height: 100%;
}

.inputbox {
  position: relative;
  top: 47%;
  width: 30%;
  padding: 20px;
  margin: auto;
}

.outputbox {
  position: relative;
  top: 45%;
  background-color: transparent;
  width: 30%;
  padding-top: 20px;
  margin: auto;
}

.blend-button {
	background: linear-gradient(to bottom, #dbe6c4 5%, #9ba892 100%);
	background-color: #dbe6c4;
	border-radius :20px;
	border: 2px solid #b2b8ad;
	cursor: pointer;
	color: #757d6f;
	display: inline-block;
	font-family: Trebuchet MS;
	font-size: 18px;
	font-weight: bold;
	padding: 16px 31px;
	text-decoration: none;
}

.blend-button:hover {
  background-color:#9ba892;
	background:linear-gradient(to bottom, #9ba892 5%, #dbe6c4 100%);
}

.blend-button:active {
	position:relative;
	top:1px;
}

#col1 {
  background: rgb(255,255,255);
}

#sep-left {
  background-image: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(127,127,127,1) 100%);
}

#col2 {
  background: rgb(127,127,127);
}

#sep-right {
  background-image: linear-gradient(90deg, rgba(127,127,127,1) 0%, rgba(0,0,0,1) 100%);
}

#col3 {
  background: rgb(0,0,0);
}
